extends layout

block content
  .container
    .starter-template
      hr
      form#speech-frm(action='/speech_api', method="GET")
        input(name='text', style="width: 400px;",  type='text', placeholder="type text to speak or get a random collection of words")
        | Pitch
        select(name='pitch')
          for value in [-90, -80, -70, -60, -50, -40, -30, -20, -10, 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300]
            option(value="#{value}", selected=(value === 0)) #{value}
        | Speed
        select(name='speed')
          for value in [-90, -80, -70, -60, -50, -40, -30, -20, -10, 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300]
            option(value="#{value}", selected=(value === 0)) #{value}
        | Voice
        select(name='voice')
          for value in ['don_diphone', 'us2_mbrola', 'rab_diphone', 'us1_mbrola', 'en1_mbrola', 'us3_mbrola', 'kal_diphone']
            option(value="#{value}") #{value}
        button.player
          | make player
        button.grain
          | make grain
      hr
      form#file-frm()
        | Sample 
        select#sounds(name='file')
        button.player
          | make player
        button.grain
          | make grain
      hr


      //- form#input-select-frm
      //-   | Input 
      //-   select#audio-sources
      //- hr


    #running
      h2 LOADING, PLEASE WAIT
    #running-grains

  script#player-view-template(type="text/html")
    .text
      
    .sliders
      .control
        input.gain(data-slider-id='gain', type="text")
      .control
        | Vol
    .sliders
      .control
        input.distortion(data-slider-id='distortion', type="text")
      .control
        | Dist

    .sliders
      .control
        input.rate(data-slider-id='rate', type="text")
      .control
        | Rate


    .sliders
      .control
        input.pan_x(data-slider-id='pan_x', type="text")
      .control
        | Pan

    .sliders
      .control
        select#impulses.reverb_type
      .control
        | Reverb type

    .sliders
      .control
        input.clean_gain(data-slider-id='clean_gain', type="text")
      .control
        | Clean Vol
    .sliders
      .control
        input.reverb_gain(data-slider-id='reverb_gain', type="text")
      .control
        | Reverb Vol


    .meter
      canvas#meter(width=72, height=30)


    button.btn.play-btn PLAY
    button.btn.stop-btn STOP
    button.btn.destroy-btn DESTROY

  script#players-view-template(type="text/html")
    h3 players
    //- .row
    //-   button#start-trigger-btn Start Trigger
    //-   hr

    .row.player-container


  script#grain-view-template(type="text/html")
    .text
      
    .sliders
      .control
        input.gain(data-slider-id='gain', type="text")
      .control
        | Vol
    .sliders
      .control
        input.distortion(data-slider-id='distortion', type="text")
      .control
        | Dist

    .sliders
      .control
        input.rate(data-slider-id='rate', type="text")
      .control
        | Rate

    .sliders
      .control
        select#impulses.reverb_type
      .control
        | Reverb type

    .sliders
      .control
        input.clean_gain(data-slider-id='clean_gain', type="text")
      .control
        | Clean Vol
    .sliders
      .control
        input.reverb_gain(data-slider-id='reverb_gain', type="text")
      .control
        | Reverb Vol

    .graincontrols(style="background-color: #efe;")
      .sliders
        .control
          input.grain-density(data-slider-id='grain-density', type="text")
        .control
          | Grain Density
      .sliders
        .control
          input.grain-attack(data-slider-id='grain-attack', type="text")
        .control
          | Grain Attack
      .sliders
        .control
          input.grain-release(data-slider-id='grain-release', type="text")
        .control
          | Grain Release
      .sliders
        .control
          input.grain-spread(data-slider-id='grain-spread', type="text")
        .control
          | Grain Spread
      .sliders
        .control
          input.grain-disperse(data-slider-id='grain-disperse', type="text")
        .control
          | Grain Disperse

    .meter
      canvas#meter(width=72, height=30)


    button.btn.play-btn PLAY
    button.btn.stop-btn STOP
    button.btn.destroy-btn DESTROY

  script#grains-view-template(type="text/html")
    h3 grains
    //- .row
    //-   button#start-trigger-btn Start Trigger
    //-   hr

    .row.grain-container



block script
  script.
    window.config = {}
    window.config.soundserver = !{JSON.stringify(config.soundserver)}
    System.import('javascripts/lib/index')

