extends layout

block content
  .container
    .starter-template
      hr
      form#speech-frm(action='/speech_api', method="GET")
        input(name='text', type='text')
        | Pitch
        select(name='pitch')
          for value in [-90, -80, -70, -60, -50, -40, -30, -20, -10, 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300]
            option(value="#{value}", selected=(value === 0)) #{value}
        | Speed
        select(name='speed')
          for value in [-90, -80, -70, -60, -50, -40, -30, -20, -10, 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300]
            option(value="#{value}", selected=(value === 0)) #{value}
        | Voice
        select(name='voice')
          for value in ['don_diphone', 'us2_mbrola', 'rab_diphone', 'us1_mbrola', 'en1_mbrola', 'us3_mbrola', 'kal_diphone']
            option(value="#{value}") #{value}
        input(type="submit")
      hr
      form#file-frm()
        | Sample 
        select#sounds(name='file')
        input(type="submit")
      hr

      form#input-select-frm
        | Input 
        select#audio-sources
      hr


    #running

  script#player-view-template(type="text/html")
    .text
      
    .sliders
      .control
        input.gain(data-slider-id='gain', type="text")
      .control
        | Vol
    .sliders
      .control
        input.distortion(data-slider-id='distortion', type="text")
      .control
        | Dist

    .sliders
      .control
        input.rate(data-slider-id='rate', type="text")
      .control
        | Rate


    .sliders
      .control
        input.pan_x(data-slider-id='pan_x', type="text")
      .control
        | Pan

    .sliders
      .control
        select.reverb_type
          option(value=0) auto_park
          option(value=1) echo_plate
          option(value=2) echo
          option(value=3) muffler
          option(value=4) spring
          option(value=5) sudden_stop
          option(value=6) telephone
      .control
        | Reverb type

    .sliders
      .control
        input.clean_gain(data-slider-id='clean_gain', type="text")
      .control
        | Clean Vol
    .sliders
      .control
        input.reverb_gain(data-slider-id='reverb_gain', type="text")
      .control
        | Reverb Vol


    .meter
      canvas#meter(width=72, height=30)


    button.btn.play-btn PLAY
    button.btn.stop-btn STOP
    button.btn.destroy-btn DESTROY



  script#players-view-template(type="text/html")
    | players
    .row
      button#start-trigger-btn Start Trigger
      hr

    .row.player-container

block script
  script.
    System.import('javascripts/lib/index')

